# reusable workflow triggered by other actions
name: CI

on:
  workflow_call:
    secrets:
      CHARMCRAFT_CREDENTIALS:
        required: true

jobs:
  lib-check:
    name: Check libraries
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/_quality-checks.yaml@main
    secrets: inherit
    with:
        charm-path: "."

  lint:
    name: Lint
    runs-on: ubuntu-24.04

    steps:
    - name: Check out code
      uses: actions/checkout@v4
      
    - name: Install dependencies
      run: pipx install tox
    - name: Lint code
      run: tox -vve lint

  unit:
    name: Unit Test
    runs-on: ubuntu-24.04

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: pipx install tox

    - name: Run unit tests
      run: tox -e unit

  terraform-checks:
    name: Terraform
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/terraform-checks.yaml@main
    with:
      charm-path: .

  integration:
    name: Integration Tests
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        test-type: [integration, integration-ambient]
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: pipx install tox
      
    - name: Setup environment
      run: |
        sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
        sudo rm -rf /run/containerd
        sudo snap install concierge --classic
        sudo concierge prepare --trace

    - name: Configure Cilium for Canonical K8s
      if: matrix.test-type == 'integration-ambient'
      run: |
        # Configure Cilium for Canonical K8s to work with Charmed Istio (Ambient mode)
        # See https://canonical-service-mesh-documentation.readthedocs-hosted.com/en/latest/how-to/use-charmed-istio-with-canonical-kubernetes/
        kubectl -n kube-system patch configmap cilium-config --type merge --patch '{"data":{"bpf-lb-sock-hostns-only":"true"}}'
        kubectl -n kube-system rollout restart daemonset cilium

    - name: Test
      run: |
        tox -vve ${{ matrix.test-type }} -- --model testing

    # On failure, capture debugging resources
    - name: Get all
      run: kubectl get all -A
      if: failure()

    - name: Describe deployments
      run: kubectl describe deployments -A
      if: failure()

    - name: Describe replicasets
      run: kubectl describe replicasets -A
      if: failure()

    - name: Get juju status
      run: juju status
      if: failure()

    - name: Get application logs
      run: kubectl logs -n testing --tail 1000 -ljuju-app=admission-webhook
      if: failure()

    - name: Get application operator logs
      run: kubectl logs -n testing --tail 1000 -ljuju-operator=admission-webhook
      if: failure()
