name: On Pull Request Closed

on:
  pull_request_target:
    types: [closed]
    branches:
    - main

permissions:
  contents: write
  pull-requests: write
    
jobs:

  backport:
    name: Backport pull request
    runs-on: ubuntu-24.04
    if: github.event.pull_request.merged
    steps:
      - uses: actions/checkout@v5
      - name: Create backport pull requests
        uses: korthout/backport-action@v3
        with:
          copy_assignees: true
          copy_requested_reviewers: true
          github_token: ${{ secrets.GH_TOKEN }}
          experimental: '{"conflict_resolution": "draft_commit_conflicts"}'
